@font-face {
    font-family: "oxaniumregular";
    src: url("../fonts/oxanium-regular-webfont.woff2") format("woff2"),
        url("../fonts/oxanium-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "oxaniumregular";
    color: #ede9ce;
}

html,
body {
    height: 100%;
    width: 100%;
}
body {
    background-image: url("../images/background-image.jpg");
    backdrop-filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='4' result='b'/%3E%3CfeMorphology operator='dilate' radius='4'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E %3C/svg%3E#a");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.top {
    height: 70%;
    width: 100%;
    display: flex;
}

.bottom {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 60px;
}

.bottom > * {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 250px;
    width: 200px;
}
.left,
.right {
    height: 100%;
    width: 30%;
    display: flex;
}

.left {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.right {
    align-items: center;
    justify-content: center;
    width: 70%;
}
.search-bar {
    height: 40px;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.today {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 200px;
    width: 150px;
}
.city {
    border: 1px solid rgb(255, 255, 255);

    height: 300px;
    width: 900px;
}
input {
    height: 70%;
    width: 80%;
    color: white;
    border: none;
    border-style: solid;
    border-width: 0 0 2px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    font-size: 1.3rem;
    padding-left: 3px;
}
input:focus-visible {
    outline: none;
    border-color: rgb(85, 255, 255);
}

.search-icon {
    height: 120%;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(252deg)
        brightness(103%) contrast(101%);
    fill: white;
    cursor: pointer;
}
.day {
    display: flex;
    justify-content: center;
}

.day-name {
    color: white;
    font-size: 1.5rem;
    padding-top: 5px;
}

.error-box {
    height: 100px;
    width: 300px;
    border: 1px solid black;
    position: absolute;
    top: calc(50% - 51px);
    left: calc(50% - 151px);
    background-color: white;
}

.error-box {
    padding: 30px;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.text-box {
    font-size: 1.3rem;
}
.close-button {
    cursor: pointer;
}
.day > * {
    color: white;
}
.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.box-1 {
    font-size: 1.5rem;
    padding-top: 5px;
    color: #ede9ce;
}
.weather-icon {
    height: 50px;
}
.left-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.box-2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.min-temp,
.max-temp {
    display: flex;
    gap: 10px;
}
.thermo {
    height: 30px;
}
.up-text {
    font-size: 1.6rem;
}
.min-temp > .thermo {
    height: 20px;
    padding-left: 3px;
}
.up-text,
.down-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
}
.moon-phase,
.pressure {
    display: flex;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    font-size: 1.2rem;
    justify-content: space-around;
}
.moon-phase > img,
.pressure > img {
    height: 35px;
}

.box-4 {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
.rain-chance > img,
.wind-speed > img {
    height: 30px;
}
.box-4 > * {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
}
.thermo,
.moon-shape,
.arrow,
.wind,
.proce {
    filter: invert(88%) sepia(18%) saturate(252%) hue-rotate(9deg)
        brightness(107%) contrast(86%);
}
